.app1{
    background: var(--neutral-grey-g-300, #1F2029);
    padding-top: 57px;
    .container{
        display: flex;
        justify-content: space-between;
        .right{
            justify-content: center;
            width: 551px;
            display: flex;
            flex-direction: column;
            h2{
                width: 550px;
                color: var(--white, #FFF);
                font-size: 32px;
                font-family: Rubik;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
        }
        p{
            width: 550px;
            color: var(--white, #FFF);
            font-size: 16px;
            font-family: Rubik;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
        .wraper{
            margin-top: 36px;
            display: flex;
            .card{
                width: 266px;
                // padding: 24px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                width: 357px;
                text-align: left;
                img{
                    width: 44px;
                }
                h3{
                    text-align: left;
                    color: var(--white, #FFF);
                    font-size: 18px;
                    font-family: Rubik;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                }
                p{
                    text-align: left;
                    display: flex;
                    width: 266px;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }  
    }
}
.app2{
    display: flex;  
    // margin-right: 40px;
    padding-top: 112px;
    background: #fff;
    h2{
        width: 686px;
        color: var(--2-b-2828, #2B2828);
        font-size: 48px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
    p{
        margin-top: 24px;
        margin-bottom: 32px;
        width: 733px;
        color: var(--505056, #505056);
        font-size: 16px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
    .card-group{
        display: flex;
        gap: 24px;
        .card{
            width: 307px;
            text-align: left;
            img{
                width: 32px;
            }
            h3{
                width: 306px;
                margin-top: 24px;
                text-align: left;
                color: #000;
                font-size: 20px;
                font-family: Rubik;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
            }
            p{
                width: 306px;
                text-align: left;
                color: var(--505056, #505056);
                font-size: 18px;
                font-family: Rubik;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }
    .bottom{
        margin-top: 32px;
    }
    .img{
        margin-left: 40px;
    }
}
}