*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Rubik;
    src: url(../../fonts/rubik/Rubik-VariableFont_wght.ttf);
}
@font-face{
    font-family: Space Grotesk;
    src: url(../../fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}